* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}

header {
    background: orange;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
}

.header-content {
    display: flex;
    align-items: center;
}

.logo {
    margin: 1rem;
}

.title {
    margin-left: 1rem;
}

.title h1 {
    font-size: 2rem;
    font-weight: 600;
}

.search-menu input {
    width: 20%;
    max-width: 500px;
    padding: 1rem;
    border-radius: 4px;
    border: none;
}

main {
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    padding: 2rem;
    background: white;
    margin: 1rem;
    border-radius: 6px;
    width: 55%;
    max-width: 1200px;
}

.section-title h2 {
    font-weight: 500;
}

.add-product,
.modify-product {
    border: 1px solid #ccc;
}

.products {
    display: flex;
    gap: 1rem;
}

input[type="text"],
textarea {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: .5rem;
    margin: auto;
    /* margin: 5px 0; */
    /* box-sizing: border-box; */
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 100px;
    resize: none;
}

.radio-group {
    display: flex;
    margin: 1rem 0;
    gap: 10px;
}

button {
    padding: 1rem 2rem;
    margin-top: 1rem;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #0a0101;
    color: white;
}

#card {
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border: 0.5px solid black;
}

#card .card-img {
    width: 100%;
    height: 100%;
    max-height: 500px;
    overflow: hidden;
    margin-bottom: 1rem;
}

#card .card-img img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1rem;
}

#card .card-title {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

#card .card-content {
    font-size: 1rem;
    color: #555;
}

footer {
    background: #222;
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

footer .links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    border-bottom: 0.5px solid white
}

footer a {
    text-decoration: none;
    color: white;
}

footer .links .contact {
    padding-left: 2rem;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    margin-bottom: 1rem;
}

.radio-group {
    margin: 1rem;
    padding: 1rem;

}

.radio-group>input {
    margin-right: 2rem;
    cursor: pointer;
}

/* Extra Small devices (phones landscape, ≥ 576px) */
@media (max-width: 575.98px) {

    /* styles */
    header {
        flex-direction: column;
    }

    .header-content {
        width: 100%;
        justify-content: center;
    }

    .search-menu {
        width: 90%;
    }

    main {
        padding: 0rem;
    }

    section {
        width: 85%;
        margin: 0.2rem;
    }

    #card {
        padding: 0.4rem;
        max-height: 250px;
        overflow: hidden;
    }

    #card .card-img {
        height: 100px;
    }
}

/* small devices */
@media (min-width: 576px) {

    /* styles */
    header {
        flex-direction: column;
    }

    .header-content {
        width: 100%;
        justify-content: center;
    }

    .search-menu {
        width: 100%;
    }

    main {
        padding: 0rem;
    }

    section {
        width: 85%;
        margin: .8rem;
    }

}

/* Large devices (laptops, ≥ 992px) */
@media (min-width: 992px) {

    /* styles */
    header {
        flex-direction: row;
        padding: 1rem 2rem;
    }

    .header-content {
        width: 100%;
        justify-content: flex-start;
    }

    .search-menu input {
        width: 90%;
    }
}

@media (min-width: 1200px) {

    /* styles */
    body {
        background-color: lightyellow;
    }

    header {
        align-items: center;
        justify-content: center;
        padding: 2rem 4rem;
    }

    .search-menu {
        justify-content: flex-end;
    }
}

@media (min-width: 2000px) {

    /* styles */
    body {
        background-color: lightblue;
    }


}