* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #f4f4f4;
}

header {
    background: orange;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.header-content {
    display: flex;
    align-items: center;
}

.logo {
    margin: 10px;
}

.title {
    margin-left: 20px;
}

.title h1 {
    font-size: 30px;
    font-weight: 600;
}

.search-menu input {
    width: 200px;
    padding: 6px;
    border-radius: 4px;
    border: none;
}

main {
    padding: 20px 30px;
}

section {
    padding: 30px;
    background: white;
    margin: 10px;
    border-radius: 6px;
}

.section-title h2{
   font-weight: 500;
}

.products {
    display: flex;
    gap: 20px;
}

#card {
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border: 0.5px solid black;    
}

#card .card-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 10px;
}

#card .card-img img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

#card .card-title {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

#card .card-content {
    font-size: 14px;
    color: #555;
}

footer {
    background: #222;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

footer .links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding-bottom: 40px;
    border-bottom: 0.5px solid white
}

footer a {
    text-decoration: none;
    color: white;
}

footer .links .contact {
    padding-left: 30px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-between;
}

form input, form textarea {
    width: 150px;
    padding: 5px;
    border-radius: 4px;
    border: 0.5px solid #ccc;
    font-family: "Poppins", sans-serif;
}